body {
    font-size: 17px;
}


/* * {
    outline: 1px solid red;
} */

a:hover {
    text-decoration: none;
}

.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}

.main::before {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    /* background: rgba(47, 190, 190, 0.4); */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar {
    /* margin-bottom: 80px; */
    justify-content: center;
    padding-left: 156px;
    text-align: center;
    background: rgba(233, 135, 6, 1);
}

.navbar a img {
    width: 150px;
}

.navbar p {
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 15px 15px 15px rgba(11, 24, 24, 0.979); */
    font-weight: 700;
    cursor: e-resize;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-left: 100px;
    padding-top: 20px;
}

.box {
    padding-top: 16px;
    padding-bottom: 20px;
    /* background: rgba(216, 219, 10, 0.2); */
    background: rgba(253, 253, 253, 0.9);
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    transition: 0.5s;
    margin-bottom: 30px;
    border-radius: 10px;
}

.box:hover {
    transform: scale(1.05);
    border-radius: 1px;
    box-shadow: 0 0 100px rgba(255, 237, 237, 0.2);
    background: rgb(241, 82, 8);
}

.box img {
    width: 50px;
    height: 60px;
}

.box p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.box span {
    color: black;
    font-size: 15px;
}


/* -----------------------------------------//----------------------------- */

.btn-customize {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 10px;
}

.prev i {
    font-size: 50px;
    margin-left: 20px;
    color: rgb(250, 122, 17);
}

.main_search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
}

.find form {
    width: 40%;
    margin: auto;
}

.find .insert {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.find button {
    height: 50px;
    line-height: 15px;
    width: 45%;
}

.find form p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    color: rgb(231, 160, 6) !important;
    text-shadow: 1px 1px 1px rgb(3, 3, 3);
    box-sizing: border-box;
    line-height: 20px;
}

.search {
    width: 55%;
    height: 50px;
    transition: 0.1s;
    border-radius: 5px;
    font-size: 20px;
}

.find .alert-danger {
    width: 40% !important;
    margin: auto;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.find .result {
    padding: 10px 0;
    width: 54%;
    margin: auto;
    overflow: auto;
    height: auto;
    background: rgba(211, 199, 37, 0.1);
    padding-top: 0;
}

.result form {
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.result form input {
    width: 80%;
    height: 100%;
    padding: 5px 0;
    border-radius: 10px;
    background: rgba(37, 113, 211, 0.2);
    border: none;
    transition: 0.5s;
}

.result form input:hover {
    transform: scale(1.05);
    background: rgba(32, 194, 11, 0.5);
}


/* .search:focus {
    border: 3px solid #0ad36f;
    box-shadow: 1px 1px 10px rgb(29, 196, 238);
    border-radius: 2px;
} */

.send {
    background: rgb(221, 69, 102);
    margin-bottom: 5px;
    padding: 15px 0;
    text-align: center;
    border-radius: 7px;
    box-shadow: 1px 1px 10px rgb(29, 196, 238);
}


/* ------------------------------------------------------------search------------------------------- */


/*------------------------------------footer---------------------------------------------------------*/

.suggestions {
    display: flex;
    flex-direction: column;
}

.suggestions input {
    margin-bottom: 20px;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid rgb(15, 219, 25);
}

.suggestions textarea {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(15, 219, 25);
}

.footer {
    background: rgb(36, 33, 33);
    width: 100%;
    color: white;
    font-size: 15px;
}

.content a {
    margin-bottom: 10px;
}

.content a img {
    width: 30px;
}

.content p b {
    color: rgb(185, 175, 30);
}

.content h2 {
    color: rgb(155, 19, 209);
}

.content span {
    font-size: 15px;
}

.qr_rector img {
    width: 62%;
}

.main hr {
    background: white;
}

.rights p {
    font-size: 12px;
}


/*-------------------------end-----------footer---------------------------------------------------------*/


/***********************************Ma'lumotnoma forma------------------------------------------------*/

.reference {
    box-shadow: 0 0 10px black;
    padding: 40px;
    height: 145vh;
    background: white;
    width: 67%;
    margin: auto;
}

.ref-header {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.ref-header img {
    width: 120px;
}

.ref-header .minster {
    width: 45%;
    padding: 10px 10px 10px 0;
}

.ref-header .univer {
    width: 45%;
    padding: 10px 10px 10px 0;
    line-height: 25px;
}

.adress {
    font-size: 12px;
    text-align: center;
}

.reference hr {
    width: 90%;
    margin: 2px auto;
    background: black;
}

.hr {
    border: 1px solid black;
}

.ref-body {
    text-align: center;
    margin: 28px;
}

.data {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 5px;
}

.ref-main p {
    text-align: justify;
    line-height: 30px;
}

.check {
    font-size: 14px !important;
    text-align: left;
}

.ijrochi {
    position: absolute;
    /* bottom: px; */
}

.print {
    border-radius: 10px;
    padding: 15px 5px;
    background-color: rgb(102, 149, 235);
    border: none;
    margin: auto;
}

.print-box {
    margin-top: 50%;
    text-align: right;
}


/*******************************end__Ma'lumotnoma forma------------------------------------------------*/


/******************************edit.php*************************************************************/

.nav-link.active {
    border: 3px solid black !important;
    border-bottom: none;
}

.control {
    width: 500px;
    border: 1px solid rgb(30, 83, 197);
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.5s;
    height: 40px;
}

.control:focus {
    border: 2px solid rgb(30, 83, 197);
}

.add_people {
    width: 150px;
    margin-left: 400px;
    text-align: center !important;
    color: white !important;
}

.read p {
    margin-bottom: 0;
    color: brown;
    font-size: 15px;
}

td,
th {
    border: 1px solid rgb(126, 138, 126);
    text-align: center;
    padding: 5px;
}


/************************end******edit.php*************************************************************/


/******************************add.php*************************************************************/

.addphp a {
    margin-top: 20px;
}

.addphp img {
    width: 100px;
}


/************************end******add.php*************************************************************/


/******************************select-update.php*************************************************************/

.main-arrow-prev {
    position: relative;
}

.main-arrow-prev a {
    position: absolute;
    left: 15px;
    top: 10px;
}

.main-arrow-prev a img {
    width: 60px;
}


/************************end******elect-update.php*************************************************************/

@media(max-width:1200px) {
    .navbar {
        padding-left: 30px;
    }
    .navbar p {
        font-size: 25px;
        margin-left: 110px;
    }
    .navbar .text {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
}

@media(max-width:1000px) {
    .main {
        min-height: 100vh;
    }
    .navbar {
        padding-left: 30px;
    }
    .navbar p {
        font-size: 19px;
        margin-left: 70px;
    }
    .navbar .text {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    .tsue img{
        width: 130px !important;
    }
    .idcheck{
        margin-top: 10px;
        width: 300px;
    }
    .idchecka{
        font-size: 16px;
    }
    .find form {
        width: 60%;
    }
    .find .alert-danger {
        width: 60% !important;
    }
}

@media(max-width:800px) {
    .navbar p {
        font-size: 15px;
        margin-left: 20px;
    }
    .navbar a img {
        width: 100px;
    }
    .box span {
        font-size: 12px;
    }
    .tsue img{
        width: 130px !important;
    }
    .idcheck{
        width: 100px;
        margin-right: 35px;
    }
    .idchecka{
        font-size: 12px;
    }
    .find form {
        width: 70%;
    }
    .find .alert-danger {
        width: 70% !important;
    }
    
}

@media(max-width:576px) {
    .main {
        min-height: 70vh;
    }
    .find form {
        width: 90%;
    }
    .find .alert-danger {
        width: 90% !important;
    }
    .navbar a img {
        width: 60px;
    }
    .navbar p {
        font-size: 8px;
        padding-top: 10px;
        margin-left: 15px;
    }
   
    .navbar {
        align-items: center;
        display: flex !important;
        padding-left: 5px;
        margin-bottom: 15px;
    }
    .box {
        margin-bottom: 10px;
        padding-bottom: 7px;
        padding-top: 5px;
    }
    .box p {
        font-size: 12px;
    }
    .box span {
        color: black;
        font-size: 5px;
    }
    .box img {
        width: 20px;
        height: 20px;
    }
    .tsue {
        padding-bottom: 5px !important;
    }
    
    .footer {
        font-size: 10px;
    }
    .content h2 {
        font-size: 10px;
    }
    .content p {
        font-size: 8px;
        margin-bottom: 3px;
    }
    .content a {
        margin-bottom: 3px;
        
    }
    .content a img {
        width: 20px;
    }
    .content span {
        font-size: 10px;
    }
    .qr_rector img {
        width: 50%;
    }
    .contact a {
        font-size: 10px;
    }
    .contact {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .rights p {
        font-size: 8px;
    }
}