body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 23px;
}
.main_search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 170vh !important;
    width: 100%;
    object-fit: cover;
}
.find form p {
    
}

.find .insert {
    margin-top: 10px;
}
.prev i {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(250, 122, 17);
}
.informationForm {
    width: 65%;
    margin: 30px auto;
    padding: 20px 50px;
    box-shadow: 0 0 20px rgb(36, 35, 35);
    border-radius: 10px;
    background: url(./img/lisence_bg1.png) no-repeat right -60px;
    background-color: white;
}

.head {
    margin-right: auto;
    display: flex;
    width: 60%;
}

.section {
    margin-top: 10px;
}

.image {
    width: 450px;
    margin-right: -40px;
}

.body .title {
    margin-top: 30px;
    text-transform: uppercase;
}

.inform-body {
    text-align: justify;
    margin-top: 30px;
}
hr {
    border: 2px solid blue;
}
.additional {
    margin: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.add-right {
    max-width: 45%;
}
table tr{
    margin: 2px;
}
table td {
    text-align: left;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}
@media(max-width: 1200px){
    .informationForm {
        width: 87%;
        margin: 30px auto;
        line-height: 20px;
    }
}
@media(max-width: 1000px){
    body {
        font-size: 13px;
    }
    .informationForm {
        width: 95%;
        padding: 15px;
        margin: 30px auto;
    }
    .image {
        width: 300px;
        margin-right: -40px;
    }
    .additional {
        margin: 15px;
    }
    .add-right {
        max-width: 55%;
    }
    .qr-code img {
        width: 120px;
    }
}
@media(max-width: 800px){
    body {
        font-size: 10px;
        line-height: 12px;
    }
    .main_search .find .form p {
        font-size: 10px !important;
        color: blue !important;
    }
    .informationForm {
        width: 95%;
        padding: 15px;
        background: none;
        background-color: white;
    }
    hr {
        border: 1px solid blue;
        margin: 0 !important;
    }
    .inform-body {
        margin-top: 5px;
    }
    .body .title {
        margin-top: 10px;
    }

}
@media(max-width: 576px){

}